<!DOCTYPE html>
<html lang="">

<head>
    <base href="/"></base>
    <title>Test Page for WeSeeCollective</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Test Page for WeSeeCollective">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!--<script src="/node_modules/angular/angular.min.js"></script>-->
    <!--<script src="/node_modules/angular/angular.js"></script>-->
    <!--<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>-->
    <!--<script src="/node_modules/firebase/lib/firebase.js"></script>-->

    <style>
        header {
            border-bottom: 1px solid lightgray;
            text-align: center;
            width: 100%;
        }
        
        body {
            margin: 10px;
        }
        
        .app {
            width: 100%;
        }
        
        .content {
            width: 50%;
            margin: 50px auto;
        }
        
        .group {
            /*background-color: gray;
            border: solid 1px dimgray;*/
            margin-bottom: 20px;
            font-size: 16px;
        }
        
        .element,
        .real,
        .imagery {
            margin: 0 0 7px 20px;
            /*border: solid 1px dimgray;*/
        }
        
        .group span,
        .element span,
        .real span,
        .imagery span {
            margin-right: 5px;
        }
        
        .note span {
            font-style: italic;
            font-size: 20px;
        }
        /*-----------------------------
        --------- table styles --------
        -----------------------------*/
        
        .wsc-table:after {
            content: "";
            clear: both;
            display: table;
        }
        
        .wsc-table {
            width: 750px;
        }
        
        .wsc-table .wsc-table-header {
            height: 30px;
            display: table;
        }
        
        .wsc-table .wsc-table-row {
            height: 40px;
            display: table;
            /*border-spacing: 4px;
            border-collapse: separate;*/
        }
        
        .wsc-table .wsc-table-header div,
        .wsc-table .wsc-table-row div {
            width: 148px;
            display: table-cell;
            border-right: 1px solid white;
            text-align: center;
            vertical-align: middle;
            padding: 1px;
        }
        
        .wsc-table .wsc-table-header div {
            color: #fff;
            background-color: deepskyblue;
            border-bottom: 2px solid white;
        }
        
        .wsc-table .wsc-table-row {
            border-width: 1px;
            border-bottom: 1px solid white;
        }
        
        .wsc-table .wsc-table-row div {
            border-width: 1px;
            border-right: 1px solid white;
        }
        
        .wsc-table .wsc-table-row.odd-row,
        .wsc-table .wsc-table-row .odd-cell {
            background-color: #e3f4fa;
        }
        
        .wsc-table .wsc-table-row.even-row,
        .wsc-table .wsc-table-row .even-cell {
            background-color: #f7fafb;
        }
        /*.wsc-table .wsc-table-row.allow-pick div {
            height: 100%;
        }*/
        
        .wsc-table .wsc-table-row .selected-div {
            background-color: #ceebf5;
            border: 1px solid #b9d3dc;
        }
        
        .wsc-table .wsc-table-row.allow-pick div {
            cursor: pointer;
        }
        
        .wsc-table .wsc-table-row.allow-pick div:hover {
            background-color: #ceebf5;
            border: 1px solid #b9d3dc;
        }
        
        .wsc-table .wsc-table-row div textarea {
            width: 100%;
            background-color: #e3f4fa;
            border: 0;
            padding: 0;
            resize: none;
            text-align: center;
        }
        
        .wsc-table .wsc-table-row div.wsc-table-list {
            vertical-align: top;
        }
        
        .wsc-table-list div.wsc-list-cell {
            display: table;
            height: 20px;
            width: 100%;
        }
        
        footer {
            display: none;
            position: absolute;
            bottom: 20px;
            border-top: 1px solid lightgray;
            text-align: center;
            width: 100%;
        }
    </style>
</head>

<body>
    <header>
        <h1>We See Collective</h1>
    </header>
    <div class="app" ng-app="wscApp">
        <div ng-controller="SelectImaginaryController as vm">
            <!-- <select ng-options="grouping in todoList.items for item in items track by item.id" ng-model="selected"></select> -->
            <div class="content">
                <div class="step-1">
                    <caption>Step 1) Breakdown and capture your existing/real problem into the essential elements of Jobs to Be Done
                        (JTBD) framework:</caption>

                    <div class="wsc-table">
                        <div class="wsc-table-header">
                            <div></div>
                            <div>Subject</div>
                            <div>Action</div>
                            <div>Object</div>
                            <div>Context</div>
                        </div>
                        <div class="wsc-table-row odd-row ">
                            <div>
                                Your real world problem builder
                            </div>
                            <div>
                                <textarea ng-model="vm.usersProblem.subject"></textarea>
                            </div>
                            <div>
                                <textarea ng-model="vm.usersProblem.action"></textarea>
                            </div>
                            <div>
                                <textarea ng-model="vm.usersProblem.object"></textarea>
                            </div>
                            <div>
                                <textarea ng-model="vm.usersProblem.context"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="step-2">
                    <caption>Step 2) Generate at least one round of imaginary elements that consist of three imaginary options for
                        each JTBD element:</caption>

                    <div class="wsc-table">
                        <div class="wsc-table-header">
                            <div></div>
                            <div>Subject</div>
                            <div>Action</div>
                            <div>Object</div>
                            <div>Context</div>
                        </div>
                        <div class="wsc-table-row allow-pick" ng-repeat="scenario in vm.scenarioList" ng-class-odd="'odd-row'" ng-class-even="'even-row'">
                            <div>
                                {{scenario.title}}
                            </div>
                            <div ng-click="vm.repick('subject', $index)">
                                {{scenario.subject}}
                            </div>
                            <div ng-click="vm.repick('action', $index)">
                                {{scenario.action}}
                            </div>
                            <div ng-click="vm.repick('object', $index)">
                                {{scenario.object}}
                            </div>
                            <div ng-click="vm.repick('context', $index)">
                                {{scenario.context}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="step-3">
                    <caption>Step 3) Create an imaginary JTBD statement by exchanging one imaginary element for a real element.</caption>

                    <div class="wsc-table">
                        <div class="wsc-table-header">
                            <div></div>
                            <div>Subject</div>
                            <div>Action</div>
                            <div>Object</div>
                            <div>Context</div>
                        </div>
                        <div class="wsc-table-row odd-row">
                            <div>
                                Your real world problem builder
                            </div>
                            <div ng-class="{'selected-div': vm.selected.subject.index === -1}">
                                {{vm.usersProblem.subject}}
                            </div>
                            <div ng-class="{'selected-div': vm.selected.action.index === -1}">
                                {{vm.usersProblem.action}}
                            </div>
                            <div ng-class="{'selected-div': vm.selected.object.index === -1}">
                                {{vm.usersProblem.object}}
                            </div>
                            <div ng-class="{'selected-div': vm.selected.context.index === -1}">
                                {{vm.usersProblem.context}}
                            </div>
                        </div>
                        <div class="wsc-table-row allow-pick" ng-repeat="scenario in vm.scenarioList" ng-class-odd="'even-row'" ng-class-even="'odd-row'">
                            <div>
                                {{scenario.title}}
                            </div>
                            <div ng-click="vm.selectDiv('subject', $index)" ng-class="{'selected-div': vm.selected.subject.index === $index}">
                                {{scenario.subject}}
                            </div>
                            <div ng-click="vm.selectDiv('action', $index)" ng-class="{'selected-div': vm.selected.action.index === $index}">
                                {{scenario.action}}
                            </div>
                            <div ng-click="vm.selectDiv('object', $index)" ng-class="{'selected-div': vm.selected.object.index === $index}">
                                {{scenario.object}}
                            </div>
                            <div ng-click="vm.selectDiv('context', $index)" ng-class="{'selected-div': vm.selected.context.index === $index}">
                                {{scenario.context}}
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="problem-title">
                            Your Real problem
                        </div>
                        <div class="note">
                            <span>{{vm.usersProblem.subject}}</span> can <span>{{vm.usersProblem.action}}</span> for a <span>{{vm.usersProblem.object}} </span>                            at the <span>{{vm.usersProblem.context}} </span>
                        </div>
                    </div>
                    <div>
                        <div class="problem-title">
                            Your WIP imaginary problem
                        </div>
                        <div class="note">
                            <span>{{vm.selected.subject.value}}</span> can <span>{{vm.selected.action.value}}</span> for
                            a <span>{{vm.selected.object.value}} </span> at the <span>{{vm.selected.context.value}} </span>
                        </div>
                    </div>
                </div>

                <div class="step-4">
                    <caption> Step 4) Generate new ideas for the imaginary JTBD</caption>

                    <div class="wsc-table">
                        <div class="wsc-table-header">
                            <div>Subject</div>
                            <div>Action</div>
                            <div>Object</div>
                            <div>Context</div>
                        </div>
                        <div class="wsc-table-row odd-row">
                            <div>
                                <textarea ng-model="vm.userImaginary.subjectText"></textarea>
                                <button ng-click="vm.addNewImaginary('subject')">Add</button>
                            </div>
                            <div>
                                <textarea ng-model="vm.userImaginary.actionText"></textarea>
                                <button ng-click="vm.addNewImaginary('action')">Add</button>
                            </div>
                            <div>
                                <textarea ng-model="vm.userImaginary.objectText"></textarea>
                                <button ng-click="vm.addNewImaginary('object')">Add</button>
                            </div>
                            <div>
                                <textarea ng-model="vm.userImaginary.contextText"></textarea>
                                <button ng-click="vm.addNewImaginary('context')">Add</button>
                            </div>
                        </div>
                        <div class="wsc-table-row">
                            <div class="wsc-table-list">
                                <div class="wsc-list-cell" ng-repeat="s in vm.userImaginary.subjects" ng-class-odd="'even-cell'" ng-class-even="'odd-cell'">
                                    {{s}}
                                </div>
                            </div>
                            <div class="wsc-table-list">
                                <div class="wsc-list-cell" ng-repeat="a in vm.userImaginary.actions" ng-class-odd="'even-cell'" ng-class-even="'odd-cell'">
                                    {{a}}
                                </div>
                            </div>
                            <div class="wsc-table-list">
                                <div class="wsc-list-cell" ng-repeat="o in vm.userImaginary.objects" ng-class-odd="'even-cell'" ng-class-even="'odd-cell'">
                                    {{o}}
                                </div>
                            </div>
                            <div class="wsc-table-list">
                                <div class="wsc-list-cell" ng-repeat="c in vm.userImaginary.contexts" ng-class-odd="'even-cell'" ng-class-even="'odd-cell'">
                                    {{c}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        /* jshint strict: true */
        angular.module('wscApp', [])
            .controller('SelectImaginaryController', function() {

            var vm = this;
            
            //private members
            var fb = {};
            
            //public members
            vm.usersProblem = {};
            vm.subjects = [];
            vm.actions = [];
            vm.objects = [];
            vm.contexts = [];  
            vm.scenarioList = [];    
            vm.selected = {};
            vm.userImaginary = {};        
            
            //public functions
            vm.repick = repick;
            vm.selectDiv = selectDiv;
            vm.addNewImaginary = addNewImaginary;
            
            init();
            
            //-------------------------------
            ///private functions
            //-------------------------------
            var fb = {};
            
            //## Init
            function init() {
                
                //set the default user problems
                vm.usersProblem = {
                    subject : "Prince Charles",
                    action: "Rule",
                    object : "Nicely",
                    context: "Wales"
                };
                
                //set the list of options
                vm.subjects = ["Bruce Lee", "Britney Spears", "3rd Bruce", "Tom Brady", "M Jordan", "Pele"];
                vm.actions = ["Chop Bread", "Eat Breakfast", "Make Jokes", "Eat Pizza", "Throw Down Doughnuts", "Score"];
                vm.objects = ["Healthy state of mind", "Tired", "Frusterated", "Board"];
                vm.contexts = ["Beach House", "Vegas Condo", "Ski Resort", "Swimming Pool", "Soccer Field", "Ice Rink"];
                
                //populate the list of the possible problems the user can pick from
                for(var i = 0; i < 3; i++){  
                    var num =  i + 1;                  
                    vm.scenarioList.push({
                        title: "Imaginary problem " + num,
                        subject: randomlyPick(vm.subjects),
                        action: randomlyPick(vm.actions),
                        object: randomlyPick(vm.objects),
                        context: randomlyPick(vm.contexts),                        
                    });
                    console.log("subject: " + vm.scenarioList[i].subject + "  action: " + vm.scenarioList[i].action + "  object: " + vm.scenarioList[i].object + "  context: " + vm.scenarioList[i].context)
                }
                
                vm.selected = {
                    subject: {value: '', index: -1},
                    action: {value: '', index: -1},
                    object: {value: '', index: -1},
                    context: {value: '', index: -1}
                };
                
                //default the object for step 4, the list of new user imaginary items
                vm.userImaginary = {
                    subjectText: "",
                    subjects: [],
                    actionText: "",
                    actions: [],
                    objectText: "",
                    objects: [],
                    contextText: "",
                    contexts: []
                }; 
            };
            
            //randomly pluck an item from the list and return it.
            function randomlyPick(list, currentText){
                
                if(currentText){
                    list.push(currentText);
                }
                
                if(!list.length){
                    return currentText ? currentText : "";
                }
                
                var index = Math.floor(Math.random() * (list.length-1))
                return list.splice(index, 1)[0];
            }
            
            //reset the selected item from the grid 
            function repick(type, index){
                switch (type)
                {
                    case 'subject':
                        vm.scenarioList[index].subject = randomlyPick(vm.subjects, vm.scenarioList[index].subject);
                        break;
                    case 'action':
                        vm.scenarioList[index].action = randomlyPick(vm.actions, vm.scenarioList[index].action);
                        break;
                    case 'object':
                        vm.scenarioList[index].object = randomlyPick(vm.objects, vm.scenarioList[index].object );
                        break;
                    case 'context':
                        vm.scenarioList[index].context = randomlyPick(vm.contexts, vm.scenarioList[index].context);
                        break;
                }
            }
            
            //reset the selected item from the grid 
            function selectDiv(type, index){
                switch (type)
                {
                    case 'subject':
                        vm.selected.subject.index = index;
                        vm.selected.subject.value = vm.scenarioList[index].subject;
                        break;
                    case 'action':
                        vm.selected.action.index = index;
                        vm.selected.action.value = vm.scenarioList[index].action;
                        break;
                    case 'object':
                        vm.selected.object.index = index;
                        vm.selected.object.value = vm.scenarioList[index].object;
                        break;
                    case 'context':
                        vm.selected.context.index = index;
                        vm.selected.context.value = vm.scenarioList[index].context;
                        break;
                }
            }
            
            //add items of imaginary to a list 
            function addNewImaginary(type){
                switch (type)
                {
                    case 'subject':
                        if(vm.userImaginary.subjectText){
                            vm.userImaginary.subjects.push(vm.userImaginary.subjectText);
                            vm.userImaginary.subjectText = "";
                        }
                        break;
                    case 'action':
                        if(vm.userImaginary.actionText){
                            vm.userImaginary.actions.push(vm.userImaginary.actionText);
                            vm.userImaginary.actionText = "";
                        }
                        break;
                    case 'object':
                        if(vm.userImaginary.objectText){
                            vm.userImaginary.objects.push(vm.userImaginary.objectText);
                            vm.userImaginary.objectText = "";
                        }
                        break;
                    case 'context':
                        if(vm.userImaginary.contextText){
                            vm.userImaginary.contexts.push(vm.userImaginary.contextText);
                            vm.userImaginary.contextText = "";
                        }
                        break;
                }
            }
            
            ///-----------------------------------------
            //Firebase functions
            ///-----------------------------------------
            function firebaseInit(){
                fb.myDataRef = new Firebase('https://xw3sn0kvzh3.firebaseio-demo.com/');
                
                var l1 = getSynchronizedArray(fb.myDataRef);
            }
            
            
            function getSynchronizedArray(firebaseRef) {
                var list = [];
                syncChanges(list, firebaseRef);
                return list;
            }
            
            function syncChanges(list, ref) {
                ref.on('child_added', function _add(snap, prevChild) {
                    var data = snap.val();
                    data.$id = snap.key(); // assumes data is always an object
                    var pos = positionAfter(list, prevChild);
                    list.splice(pos, 0, data);
                });
            }
            
            
            
        });
    </script>

</body>

<footer>
    <span> Im a footer and here to stay.</span>
</footer>

</html>